body {
    background-color: lightgrey;
}

h1 {
    text-align: center
}

.home {
    text-align: center;
    padding-top: 10px;
}

.fight {
    text-align: center;
    
}

.stats {
    text-align: center;
    padding-bottom: 20px;
}

.sf {
    text-align: center;
}